In [7]:
import pandas as pd
import numpy as np

In [9]:
pd.Series([1, 2, 'soroush', 0, np.nan])

0          1
1          2
2    soroush
3          0
4        NaN
dtype: object

In [11]:
dates = pd.date_range("20220101", periods=6)
dates

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06'],
              dtype='datetime64[ns]', freq='D')

In [12]:
np.random.randn(6, 4)

array([[ 1.2183325 , -0.38136978, -0.52184731,  0.76471177],
       [ 0.4478273 ,  0.04408624,  0.65742305, -0.31965866],
       [-0.55105729,  1.60192487, -0.71189227, -0.94308395],
       [-0.53450133,  0.24018449,  0.3813503 ,  1.23342847],
       [ 0.35584677, -0.31517466, -1.21122894, -0.60717333],
       [-0.38917631, -1.13834308,  1.3917104 ,  0.55946527]])

In [17]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=['A', 'B', 'C', 'D'])
df

                   A         B         C         D
2022-01-01 -0.491105 -1.002755 -1.141881 -0.921176
2022-01-02  0.201389  0.634529  0.834983  0.828460
2022-01-03  0.376346 -1.161716  0.171054  1.029630
2022-01-04 -0.143922 -0.059754 -1.382855  0.291116
2022-01-05  0.643967 -0.553109  1.389393  0.105539
2022-01-06 -0.484536 -0.042471  0.226032 -1.011374

In [20]:
df.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [23]:
df.head(1)
df.tail(2)

                   A         B         C         D
2022-01-05  0.643967 -0.553109  1.389393  0.105539
2022-01-06 -0.484536 -0.042471  0.226032 -1.011374

In [24]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.017023 -0.364213  0.016121  0.053699
std    0.467295  0.674259  1.088355  0.859827
min   -0.491105 -1.161716 -1.382855 -1.011374
25%   -0.399382 -0.890344 -0.813647 -0.664497
50%    0.028733 -0.306431  0.198543  0.198327
75%    0.332607 -0.046791  0.682745  0.694124
max    0.643967  0.634529  1.389393  1.029630

In [25]:
df.T

   2022-01-01  2022-01-02  2022-01-03  2022-01-04  2022-01-05  2022-01-06
A   -0.491105    0.201389    0.376346   -0.143922    0.643967   -0.484536
B   -1.002755    0.634529   -1.161716   -0.059754   -0.553109   -0.042471
C   -1.141881    0.834983    0.171054   -1.382855    1.389393    0.226032
D   -0.921176    0.828460    1.029630    0.291116    0.105539   -1.011374

In [29]:
df[df['A'] > 0]

                   A         B         C         D
2022-01-02  0.201389  0.634529  0.834983  0.828460
2022-01-03  0.376346 -1.161716  0.171054  1.029630
2022-01-05  0.643967 -0.553109  1.389393  0.105539

In [34]:
df.sort_values(by='A')

                   A         B         C         D
2022-01-01 -0.491105 -1.002755 -1.141881 -0.921176
2022-01-06 -0.484536 -0.042471  0.226032 -1.011374
2022-01-04 -0.143922 -0.059754 -1.382855  0.291116
2022-01-02  0.201389  0.634529  0.834983  0.828460
2022-01-03  0.376346 -1.161716  0.171054  1.029630
2022-01-05  0.643967 -0.553109  1.389393  0.105539

## read and write operations

In [36]:
df.to_csv('test.csv')
# df.to_exel('/tmp/test.xlsv')